* {
  box-sizing: border-box;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.box {
  background: rgb(29, 29, 29);
  background: linear-gradient(
    90deg,
    rgba(29, 29, 29, 1) 0%,
    rgba(223, 217, 216, 1) 100%
  );
}
.box__inner {
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.item {
  text-align: center;
}
.number {
  color: bisque;
  text-align: center;
  font-size: 70px;
  padding-top: 15px;
}
.text {
  color: rgb(199, 199, 199);
  font-size: 20px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.line {
  width: 30px;
  height: 2px;
  background-color: white;
  margin: 0 auto;
}
i.fa {
  font-size: 70px;
  color: wheat;
}
